/* color variables */
:root {
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(0, 0%, 0%); /*(with 75% opacity for light box background); */
  --clr-primary100: hsl(26, 100%, 55%);
  --clr-primary200: hsl(25, 100%, 94%);
  --clr-primary300: ;
  --clr-primary400: ;
  --clr-neutral100: hsl(220, 13%, 13%);
  --clr-neutral200: hsl(219, 9%, 45%);
  --clr-neutral300: hsl(220, 14%, 75%);
  --clr-neutral400: hsl(223, 64%, 98%);

  /* comment color hex codes here for easy copy and paste*/
  /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
  - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

/* IN MODERN_NORMALIZE ALREADY */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

/* html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  } */

html {
  scroll-behavior: smooth;
}

body {
  /* font of your choice */
  font-family: "Kumbh Sans", sans-serif;
  /* background-color: grey; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

img {
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
}
